.w-20 {
  max-width: 20%;
}

@media screen and (min-width: 768px) {
  .w-sm-25 {
    max-width: 25%;
  }
}
@media screen and (min-width: 768px) {
  .w-md-100 {
    min-width: 100% !important;
    max-width: 100% !important;
  }
}
